body {
  background-color: #333;
}

.App {
  text-align: center;

  margin: 0 auto;
}

.App header {
  background-color: #333;
  height: 10vh;

  min-height: 50px;
  color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;

  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.1px;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #333;
  width: 100%;

  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;

  height: 100%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/pixelbit-eight.appspot.com/o/space.gif?alt=media&token=4fc54b66-4004-4313-b583-3f6975c72dce");
}

input {
  line-height: 1.5;
  width: 100%;
  border-radius: 25px;

  font-size: 1.5rem;
  background: #212121;
  color: white;
  margin-left: 10px;
  outline: none;
  border: none;
  padding: 0 10px;
  margin-bottom: 5px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
